<div class="container">
  <div class="form" [formGroup]="resetPasswordForm">
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-12">
        <label class="required">{{ "labels.password" | translate }}</label>
        <input
          type="password"
          class="form-control"
          pInputText
          formControlName="password"
          [placeholder]="''"
        />
      </div>

      <div class="p-field p-col-12 p-md-12">
        <label class="required">{{ "labels.newPassword" | translate }}</label>
        <input
          type="password"
          class="form-control"
          pInputText
          formControlName="newPassword"
          [placeholder]="''"
        />
      </div>

      <div class="p-field p-col-12 p-md-12">
        <label class="required">{{ "labels.confirmPassword" | translate }}</label>
        <input
          type="password"
          class="form-control"
          pInputText
          formControlName="confirmPassword"
          [placeholder]="''"
        />
      </div>
    </div>
  </div>
  <div class="footer">
    <button pButton class="p-mr-3 p-button-warning" (click)="close()">
      {{ "buttons.cancel" | translate }}
    </button>
    <button
      (click)="submit()"
      [disabled]="!resetPasswordForm?.valid || busy"
      [label]="
        'buttons.' + ('save')
          | translate
      "
      pButton
    ></button>
  </div>
</div>
