<div>
  <div id="print-section1" class="">

    <div class="grid-container-header">
      <div class="grid-fr">
        <strong>REPUBLIQUE DU CAMEROUN</strong> <br />
        <i>Paix-Travail-Patrie</i> <br />
        ********* <br />
        <strong
          >{{structure?.labelFr}}</strong
        >
      </div>
      <div class="grid-img">
        <img src="assets/img/logopdf.png" alt="logo pdf" />
      </div>
      <div class="grid-en">
        <strong>REPUBLIC OF CAMEROON</strong> <br />
        <em>Peace-Work-Fatherland</em> <br />
        ********* <br />
        <strong
          >{{structure?.labelEn}}</strong
        >
      </div>
    </div>
    <div class="title">
      <h3>FICHE DE PAIEMENT N° {{ data[0]?.paiements[0]?.numeroPaiement }}</h3>
    </div>
    <div class="info-trans">
      <br>
      <p><b>Mandat N°: </b> {{ data[0]?.traitements[0]?.numeroMandat}}</p>
      <p><b>Certificat d’Engagement N°: </b>{{ data[0]?.numActeJuridique?.numero}}</p>
      <p><b>Bon N°: </b>{{ data[0]?.numero}}</p>
      <p><b>Bénéficiaire: </b>{{ data[0]?.matriculeGestionnaire}}-{{ data[0]?.nomGestionnaire}}</p>
      <p><b>Objet de la dépense: </b>{{ data[0]?.transmission_reception?.objet}}</p>
      <p><b>Imputation: </b>{{ data[0]?.numActeJuridique?.imputation}}</p>
      <p><b>Motif du rejet: </b>{{ data[0]?.motif}}</p><br>
    </div>
    <h3>Détails Paiement</h3>
    <table>
      <tr>
        <th>N°</th>
        <th>Rubriques</th>
        <th>Montant (FCFA)</th>
      </tr>
      <tr *ngIf="rubriques[0] && montants[0]">
        <td><span>{{ data?.numActeJuridique?.numero }}-01</span></td>
        <td><span >{{ rubriques[0] }}</span></td>
        <td>
          <span >{{ montants[0] }}</span>
        </td>
      </tr>

      <tr *ngIf="rubriques[1] && montants[1]">
        <td><span >{{ data?.numActeJuridique?.numero }}-02</span></td>
        <td><span >{{ rubriques[1] }}</span></td>
        <td>
          <span >{{ montants[1] }}</span>
        </td>
      </tr>

      <tr *ngIf="rubriques[2] && montants[2]">
        <td><span >{{ data?.numActeJuridique?.numero }}-03</span></td>
        <td><span >{{ rubriques[2] }}</span></td>
        <td>
          <span >{{ montants[2] }}</span>
        </td>
      </tr>

      <tr *ngIf="rubriques[3] && montants[3]">
        <td><span >{{ data?.numActeJuridique?.numero }}-04</span></td>
        <td><span >{{ rubriques[3] }}</span></td>
        <td>
          <span >{{ montants[3] }}</span>
        </td>
      </tr>

      <tr *ngIf="rubriques[4] && montants[4]">
        <td><span >{{ data?.numActeJuridique?.numero }}-05</span></td>
        <td><span >{{ rubriques[4] }}</span></td>
        <td>
          <span >{{ montants[4] }}</span>
        </td>
      </tr>
      <tr>
        <td colspan="2">TOTAL A LIQUIDER</td>
        <td>{{ totalLiquidation }}</td>
      </tr>
    </table>

    <label for="">Arrêté le présent paiement à la somme de (en Francs CFA):{{ montant_en_lettre }}</label>

    <div class="date">
      <span>Fait à
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,
        le </span>
    </div>
    <div class="visa">

      Pour acquittement

    </div>
  </div>
  <div>
    <button pButton class="p-mr-3 p-button-warning" printSectionId="print-section1" [useExistingCss]="true" ngxPrint>
      {{ "buttons.print" | translate }}
    </button>
  </div>
</div>
