<p-card>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button (click)="openForm()" [label]="'buttons.create' | translate" class="p-button-success p-mr-2"
                icon="pi pi-plus" pButton pRipple></button>
        </ng-template>
        <ng-template pTemplate="right"> </ng-template>
    </p-toolbar>
    <p-table #dt [globalFilterFields]="[
        'nomModel',
        'enteteModel',
        'chapeauModel',
        'contenuModel',
    ]" [loading]="(loading$ | async) || false" [paginator]="true" [rowHover]="true" [rows]="10" [sortMode]="'single'"
        [value]="data" dataKey="id" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">
                    {{ "tables.titles.modelVirement" | translate }}
                </h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="
                dt.filterGlobal(getTableGlobalSearchValue($event), 'contains')
            " [placeholder]="'labels.search' | translate" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <ng-container *ngFor="let column of tableColumns">
                    <th *ngIf="column.sortable" [pSortableColumn]="column.field">
                        {{ column.title | translate }}
                        <p-sortIcon field="code"></p-sortIcon>
                    </th>
                    <th *ngIf="!column.sortable">{{ column.title | translate }}</th>
                </ng-container>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item?.numero }}</td>
                <td>
                    <span>
                        <p-tag [value]="item.etatVirement" [severity]="getItemClass(item)"></p-tag>
                    </span>
                </td>
                <td>{{ item?.dateVirement }}</td>
                <td>{{ item?.dateSignatureVirement }}</td>
                <td>{{ item?.signataireVirement }}</td>
                <td>{{ item?.spSourceVirement }}</td>
                <td>{{ item?.spCibleVirement }}</td>
                <td>
                    <button
                        *ngIf="isSave(item.etatVirement) || isUpdate(item.etatVirement)|| isCancel(item.etatVirement)"
                        (click)="delete(item)" class="p-button-rounded p-button-danger" icon="pi pi-trash" pButton
                        pRipple></button>
                    <button *ngIf="isReservation(item.etatVirement)" (click)="valider(item)"
                        class="p-button-rounded p-button-primary" icon="pi pi-check" pButton pRipple></button>
                    <button
                        *ngIf="isSave(item.etatVirement) || isUpdate(item.etatVirement)|| isCancel(item.etatVirement)"
                        (click)="update(item)" class="p-button-rounded p-button-primary" icon="pi pi-pencil" pButton
                        pRipple></button>
                    <button
                        *ngIf="isSave(item.etatVirement) || isUpdate(item.etatVirement)|| isCancel(item.etatVirement)"
                        (click)="reserver(item)" class="p-button-rounded p-button-secondary" icon="pi pi-wallet" pButton
                        pRipple [disabled]="activeForReservation(item)"></button>
                    <button *ngIf="isReservation(item.etatVirement) || isVaidate(item.etatVirement)"
                        (click)="print(item)" class="p-button-rounded p-button-secondary" icon="pi pi-print" pButton
                        pRipple>
                    </button>
                    <button *ngIf="isReservation(item.etatVirement)" (click)="annuler(item)"
                        class="p-button-rounded p-button-warning" icon="pi pi-times" pButton pRipple></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>