<div class="container">
    <form class="form" [formGroup]="detailVirementForm">
        <div *ngIf="create || update">
            <!-- *ngIf="imputationsOperationsList.length>0" -->
            <h3>{{ "tables.titles.imputationsFiltres" | translate }}</h3>
            <p-table [value]="encourList" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Imputation</th>
                        <th>libele Operation</th>
                        <th>Montant</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td>{{ rowIndex }}</td>
                        <td>{{ item.codeInput }}</td>
                        <td>{{ item.libelleInput }}</td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" placeholder="montant" [(ngModel)]="item.montant"
                                        [ngModelOptions]="{standalone: true}" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ item.montant ?? 'entrez un montant' }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <button *ngIf="item.isCredit" (click)="addToCredit(item)" class="p-button-success"
                                icon="pi pi-plus" pButton pRipple [disabled]="null == item.montant"></button>
                            &nbsp;&nbsp;&nbsp;
                            <button *ngIf="item.isDebit" (click)="addToDebit(item)" class="p-button-primary"
                                icon="pi pi-minus" pButton pRipple [disabled]="null == item.montant"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <h3>{{ "tables.titles.debit" | translate }}</h3>
        <p-table [value]="debitEncourList" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Imputation</th>
                    <th>Libellé Operation</th>
                    <th>Montant</th>
                    <th *ngIf="create || update"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex }}</td>
                    <td>{{ item.codeInput }}</td>
                    <td>{{ item.libelleInput }}</td>
                    <td>{{ format(item.montant) }}</td>
                    <td *ngIf="create || update">
                        <button (click)="removeFromDebit(item)" class="p-button-rounded p-button-warning"
                            icon="pi pi-trash" pButton pRipple></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="p-field p-col-12 p-md-12 pl-4 pb-4">
            <div style="float: right;">
                <label for="total_debit" style="margin-right:10px ;">Total Débit</label>
                <input class="form-control" pInputText type="text" id="total_debit" readonly [(ngModel)]="total_debit"
                    [ngModelOptions]="{standalone: true}">
            </div>
        </div>

        <h3>{{ "tables.titles.credit" | translate }}</h3>
        <p-table [value]="creditEncourList" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Imputation</th>
                    <th>libele Operation</th>
                    <th>Montant</th>
                    <th *ngIf="create || update"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex }}</td>
                    <td>{{ item.codeInput }}</td>
                    <td>{{ item.libelleInput }}</td>
                    <td>{{ format(item.montant ?? 0)}}</td>
                    <td *ngIf="create || update">
                        <button (click)="removeFromCredit(item)" class="p-button-rounded p-button-warning"
                            icon="pi pi-trash" pButton pRipple></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="p-field p-col-12 p-md-12 mt-4 mb-2">
            <div style="float: right;">
                <label for="total_debit" style="margin-right:10px ;">Total Débit</label>
                <input class="form-control" pInputText type="text" id="total_debit" readonly [(ngModel)]="total_credit"
                    [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="footer">
            <div class="p-field p-col-12 p-md-12">
                <div>
                    <label for="total_debit" style="margin-right:10px ;">Ecart Débit-Crédit</label>
                    <input class="form-control" pInputText type="text" id="total_debit" readonly
                        [(ngModel)]="ecart_debit_credit" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="p-field p-col-7 p-md-7">
                <button (click)="doChangeStep('back')" [label]="'buttons.back' | translate" pButton></button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button *ngIf="create" type="button" pButton pRipple class="p-button p-button-success" icon="pi pi-plus"
                    [label]="'buttons.save' | translate" pButton (click)="submitForm()"></button>
                <button *ngIf="update" type="button" pButton pRipple class="p-button p-button-success" icon="pi pi-plus"
                    [label]="'buttons.update' | translate" pButton (click)="submitForUpdate()"></button>
                <button *ngIf="reserved" type="button" pButton pRipple class="p-button p-button-success"
                    icon="pi pi-wallet" [label]="'reserver' | translate" pButton (click)="reserver()"></button>
                <button *ngIf="cancel" type="button" pButton pRipple class="p-button p-button-warning"
                    icon="pi pi-angle-right" [label]="'Annuler' | translate" pButton (click)="cancelled()"></button>
                <button *ngIf="validate" (click)="doChangeStep('forward')" icon="pi pi-angle-right"
                    [label]="'buttons.next' | translate" pButton></button>
            </div>
        </div>
    </form>
</div>