<div class="container">
  <div class="form" [formGroup]="engagementForm">
    <div class="p-fluid p-grid">
      <div *ngIf="!dataEngagement" class="p-field p-col-12 p-md-6">
        <ng-container formGroupName="numActeJuridique">
          <label class="required"
            >{{ "labels.numActeJuridiqueMandat" | translate }}
          </label>
          <p-dropdown
            [showClear]="true"
            [filter]="true"
            [filterBy]="'numero'"
            [autoDisplayFirst]="false"
            [options]="engagements"
            [placeholder]="''"
            optionLabel="numero"
            optionValue="id"
            formControlName="id"
            (onChange)="onActeJuridiqueChange($event)"
          >
          </p-dropdown>
        </ng-container>
      </div>
      <div *ngIf="dataEngagement" class="p-field p-col-12 p-md-6">
        <label>{{ "labels.numActeJuridiqueMandat" | translate }}</label>
        <input
          class="form-control"
          formControlName="numeroj"
          [placeholder]="''"
          pInputText
          [disabled]="disabled"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.codeProcedure" | translate }}</label>
        <input
          class="form-control"
          formControlName="codeProcedure"
          [placeholder]="''"
          pInputText
          [disabled]="disabled"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.reference" | translate }}</label>
        <input
          class="form-control"
          formControlName="reference"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.dateSignature" | translate }}</label>
        <input
          class="form-control"
          formControlName="dateSignature"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.signataire" | translate }}</label>
        <input
          class="form-control"
          formControlName="signatairej"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.imputation" | translate }}</label>
        <input
          class="form-control"
          formControlName="imputation"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-12">
        <label>{{ "labels.objet" | translate }}</label>
        <textarea
          rows="3"
          cols="35"
          pInputTextarea
          class="form-control"
          formControlName="objetj"
          [placeholder]="''"
        >
        </textarea>
      </div>

      <!-- Begin Decission -->
      <div class="p-fluid p-grid" *ngIf="procedure === '1122'">
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.matriculeBeneficiaire" | translate }}</label>
          <input
            class="form-control"
            formControlName="matriculeBeneficaire"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.nomBeneficaire" | translate }}</label>
          <input
            class="form-control"
            formControlName="nomBeneficaire"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.montantBrut" | translate }}</label>
          <input
            class="form-control"
            formControlName="montantBrut"
            [placeholder]="''"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.montantIRNC" | translate }}</label>
          <input
            class="form-control"
            formControlName="montantIRNC"
            [placeholder]="''"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.netAPercevoir" | translate }}</label>
          <input
            class="form-control"
            formControlName="netAPercevoir"
            [placeholder]="''"
            pInputText
          />
        </div>
      </div>
      <!-- End Decission -->

      <!-- Begin 1123 1124 -->
      <div
        class="p-fluid p-grid"
        *ngIf="procedure === '1123' || procedure === '1124'"
      >
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.matriculeBeneficiaire" | translate }}</label>
          <input
            class="form-control"
            formControlName="matriculeBeneficaire"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.nomBeneficaire" | translate }}</label>
          <input
            class="form-control"
            formControlName="nomBeneficaire"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-12">
          <label>{{ "labels.netAPercevoir" | translate }}</label>
          <input
            class="form-control"
            formControlName="netAPercevoir"
            [placeholder]="''"
            pInputText
          />
        </div>
      </div>
      <!-- End 1123 1124 -->
      <!-- Begin 1125 -->
      <div class="p-fluid p-grid" *ngIf="procedure === '1125'">
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.codeUnitAdminBenef" | translate }}</label>
          <input
            class="form-control"
            formControlName="codeUnitAdminBenef"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.nomUnitAdminBenef" | translate }}</label>
          <input
            class="form-control"
            formControlName="nomUnitAdminBenef"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-12">
          <label>{{ "labels.netAPercevoir" | translate }}</label>
          <input
            class="form-control"
            formControlName="netAPercevoir"
            [placeholder]="''"
            pInputText
          />
        </div>
      </div>
      <!-- End 1125 -->
      <!-- Begin 1110 1111 1115 1126 -->

      <div
        class="p-fluid p-grid"
        *ngIf="
          procedure === '1110' ||
          procedure === '1111' ||
          procedure === '1115' ||
          procedure === '1126'
        "
      >
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.niuContribuable" | translate }}</label>
          <input
            class="form-control"
            formControlName="numContribuable"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.raisonSocialeContribuable" | translate }}</label>
          <input
            class="form-control"
            formControlName="raisonSociale"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-4" formGroupName="taxesApplicable">
          <label>{{ "labels.taxesApplicables" | translate }}</label>
          <input
            class="form-control"
            formControlName="label"
            [placeholder]="''"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-4" formGroupName="taxesApplicable">
          <label>{{ "labels.tauxTVA" | translate }}</label>
          <input
            class="form-control"
            formControlName="TxTVA"
            [placeholder]="''"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-4" formGroupName="taxesApplicable">
          <label>{{ "labels.tauxIR" | translate }}</label>
          <input
            class="form-control"
            formControlName="TxIR"
            [placeholder]="''"
            pInputText
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.montantBrut" | translate }}</label>
          <input
            type="number"
            class="form-control"
            pInputText
            formControlName="montantBrut"
            [placeholder]="''"
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.montantIRNC" | translate }}</label>
          <input
            type="number"
            class="form-control"
            pInputText
            formControlName="montantIRNC"
            [placeholder]="''"
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.montantTVA" | translate }}</label>
          <input
            type="number"
            class="form-control"
            pInputText
            formControlName="montantTVA"
            [placeholder]="''"
          />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.netAPercevoir" | translate }}</label>
          <input
            type="number"
            class="form-control"
            pInputText
            formControlName="netAPercevoir"
            [placeholder]="''"
          />
        </div>
        <div class="p-field p-col-12 p-md-12">
          <label>{{ "labels.RIB" | translate }}</label>
          <input
            class="form-control"
            formControlName="RIB"
            [placeholder]="''"
            pInputText
          />
        </div>
      </div>
      <!-- End 1110 1111 1115 1126 -->

      <!-- Begin 1121 -->
      <div class="p-fluid p-grid" *ngIf="procedure === '1121'">
        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.matriculeBeneficiaire" | translate }}</label>
          <input
            class="form-control"
            formControlName="matriculeBeneficaire"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label>{{ "labels.nomBeneficaire" | translate }}</label>
          <input
            class="form-control"
            formControlName="nomBeneficaire"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-12">
          <label>{{ "labels.itineraire" | translate }}</label>
          <input
            class="form-control"
            formControlName="itineraire"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label>{{ "labels.dateDebut" | translate }}</label>
          <input
            class="form-control"
            formControlName="dateDebut"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label>{{ "labels.dateFin" | translate }}</label>
          <input
            class="form-control"
            formControlName="dateFin"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label>{{ "labels.nombreJours" | translate }}</label>
          <input
            class="form-control"
            formControlName="nombreJours"
            [placeholder]="''"
            pInputText
          />
        </div>

        <div class="p-field p-col-12 p-md-6">
            <label>{{ "labels.baremeJour" | translate }} </label>
            <input
            type="number"
            class="form-control"
            pInputText
            formControlName="baremeJour"
            [placeholder]="''"
          />
        </div>

        <div class="p-field p-col-12 p-md-6">
          <label
            >{{ "labels.montantMission" | translate }}
          </label>
          <input
            type="number"
            class="form-control"
            pInputText
            formControlName="montantMission"
            [placeholder]="''"
          />
        </div>
      </div>
      <!-- End 1121 -->
      <!-- Montant Engagement Juridique -->
      <div class="p-field p-col-12 p-md-12">
        <label>{{ "labels.montantAEJ" | translate }} </label>
        <input
          type="number"
          class="form-control"
          pInputText
          formControlName="montantAE"
          [placeholder]="''"
        />
      </div>
    </div>
  </div>

  <div class="footer">
    <button *ngIf="isCheck"
      (click)="doChangeStep('back')"
      [label]="'buttons.back' | translate"
      pButton
    ></button>
    <button *ngIf="!isCheck" pButton class="p-mr-3 p-button-warning" (click)="close()">
      {{ "buttons.cancel" | translate }}
    </button>
    <button *ngIf="!dataEngagement"
      type="button"
      pButton
      pRipple
      class="p-button"
      icon="pi pi-angle-right"
      (click)="doChangeStep('forward')"
      [disabled]="!engagementForm?.valid && !readOnly"
      [label]="'buttons.next' | translate"
      pButton
    ></button>
    <button *ngIf="dataEngagement?.numActeJuridique"
      type="button"
      pButton
      pRipple
      class="p-button"
      icon="pi pi-angle-right"
      (click)="doChangeStep('forward')"
      [disabled]="!engagementForm?.valid && !readOnly"
      [label]="'buttons.next' | translate"
      pButton
    ></button>
  </div>
</div>
