<p-card>
  <p-toolbar
    styleClass="p-mb-4"
    *appCheckPermissions="[
      'administrativeUnits.create',
      'administrativeUnits.delete'
    ]"
  >
    <ng-template pTemplate="left">
      <button
        (click)="openForm()"
        *appCheckPermissions="['administrativeUnits.create']"
        [label]="'buttons.create' | translate"
        class="p-button-success p-mr-2"
        icon="pi pi-plus"
        pButton
        pRipple
      ></button>
      <!--<ng-container>
        <button (click)="delete()" *appCheckPermissions="['administrativeUnits.delete']"
                [disabled]="!selectedItems?.length"
                class="p-button-danger" icon="pi pi-trash"
                pButton pRipple></button>
      </ng-container>-->
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [currentPageReportTemplate]="'tables.stats.pager' | translate"
    [globalFilterFields]="[
      'labelFr',
      'labelEn',
      'abbreviationFr',
      'abbreviationEn',
      'code',
      'sector.formattedLabelFr',
      'sector.formattedLabelEn'
    ]"
    [loading]="(loading$ | async) || false"
    [paginator]="true"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [sortMode]="'single'"
    [value]="data"
    dataKey="id"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">
          {{ "tables.titles.administrativeUnits" | translate }}
        </h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            (input)="
              dt.filterGlobal(getTableGlobalSearchValue($event), 'contains')
            "
            [placeholder]="'labels.search' | translate"
            pInputText
            type="text"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <ng-container
          *ngFor="let column of tableColumns; trackBy: trackByIndex"
        >
          <th pSortableColumn="code">
            {{ column.title | translate }}
            <p-sortIcon field="code"></p-sortIcon>
          </th>
        </ng-container>
        <th pSortableColumn="labelFr">
          {{ "tables.headers.labelFr" | translate }}
          <p-sortIcon field="labelFr"></p-sortIcon>
        </th>
        <th pSortableColumn="labelEn">
          {{ "tables.headers.labelEn" | translate }}
          <p-sortIcon field="labelEn"></p-sortIcon>
        </th>
        <th pSortableColumn="category.formattedLabel">
          {{ "tables.headers.category" | translate }}
          <p-sortIcon field="category.formattedLabel"></p-sortIcon>
        </th>
        <th pSortableColumn="region.formattedLabel">
          {{ "tables.headers.region" | translate }}
          <p-sortIcon field="region.formattedLabel"></p-sortIcon>
        </th>
        <th>{{ "tables.headers.sector" | translate }}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td *ngFor="let column of tableColumns">
          <span>
            {{ item[column.field] }}
          </span>
        </td>
        <td>{{ item?.labelFr }} ({{ item?.abbreviationFr }})</td>
        <td>{{ item?.labelEn }} ({{ item?.abbreviationEn }})</td>
        <td>{{ item?.category?.formattedLabel }}</td>
        <td>{{ item?.region?.formattedLabel }}</td>
        <td>{{ item?.sector?.formattedLabelFr }}</td>
        <td>
          <button
            (click)="edit(item)"
            *appCheckPermissions="['administrativeUnits.update']"
            class="p-button-rounded p-button-success p-mr-2"
            icon="pi pi-pencil"
            pButton
            pRipple
          ></button>
          <button
            (click)="delete(item)"
            *appCheckPermissions="['administrativeUnits.delete']"
            [disabled]="item?.status === 'active'"
            class="p-button-rounded p-button-warning"
            icon="pi pi-trash"
            pButton
            pRipple
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        <!--          In total there are {{products ? products.length : 0 }} products.-->
      </div>
    </ng-template>
  </p-table>
</p-card>
