<p-card>
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        (click)="openForm()"
        *appCheckPermissions="['typesProcedures.create']"
        [label]="'buttons.create' | translate"
        class="p-button-success p-mr-2"
        icon="pi pi-plus"
        pButton
        pRipple
      ></button>
    </ng-template>
    <ng-template pTemplate="right"> </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [globalFilterFields]="['code', 'label']"
    [loading]="(loading$ | async) || false"
    [paginator]="true"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [sortMode]="'single'"
    [value]="data"
    [currentPageReportTemplate]="'tables.stats.pager' | translate"
    dataKey="id"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">
          {{ "tables.titles.typesProcedures" | translate }}
        </h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              dt.filterGlobal(getTableGlobalSearchValue($event), 'contains')
            "
            [placeholder]="'labels.search' | translate"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let column of tableColumns">
          <th *ngIf="column.sortable" [pSortableColumn]="column.field">
            {{ column.title | translate }}
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th *ngIf="!column.sortable">{{ column.title | translate }}</th>
        </ng-container>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td *ngFor="let column of tableColumns">
          <span *ngIf="column.field !== 'status'">
            {{ item[column.field] }}
          </span>
          <span *ngIf="column.field === 'status' && item['status'] === 'active'">
            <p-toggleButton onLabel="{{ item['status'] }}" offLabel="{{ item['status'] }}"
            onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"
            styleClass="p-button-success" (click)="desactiver(item)"></p-toggleButton>
          </span>

          <span *ngIf="column.field === 'status'&& item['status'] === 'inactive'">
            <p-toggleButton onLabel="{{ item['status'] }}" offLabel="{{ item['status'] }}"
            onIcon="pi pi-check" offIcon="pi pi-times" iconPos="right"
            (click)="desactiver(item)" styleClass="p-button-warning"></p-toggleButton>
          </span>
        </td>
        <td>
          <button
            (click)="edit(item)"
            class="p-button-rounded p-button-success p-mr-2"
            icon="pi pi-pencil"
            pButton
            pRipple
          ></button>
          <button
            (click)="info(item)"
            [disabled]="!(item.status === 'active')"
            class="p-button-rounded p-button-warning p-mr-2"
            icon="pi pi-print"
            pButton
            pRipple
          ></button>
          <button
          (click)="reset(item)"
          class="p-button-rounded p-button-plain"
          icon="pi pi-refresh"
          pButton
          pRipple
        ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
