<p-card>
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        (click)="openForm()"
        [label]="'buttons.create' | translate"
        class="p-button-success p-mr-2"
        icon="pi pi-plus"
        pButton
        pRipple
      ></button>
      <!--<ng-container>
          <button (click)="delete()" *appCheckPermissions="['banksAgences.delete']"
                  [disabled]="!selectedItems?.length"
                  class="p-button-danger" icon="pi pi-trash"
                  pButton pRipple></button>
        </ng-container>-->
    </ng-template>
    <ng-template pTemplate="right"> </ng-template>
  </p-toolbar>

  <p-table [value]="data" dataKey="code" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <ng-container *ngFor="let column of tableColumns">
          <th *ngIf="column.sortable" [pSortableColumn]="column.field">
            {{ column.title | translate }}
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th *ngIf="!column.sortable">{{ column.title | translate }}</th>
        </ng-container>
        <th>{{ "Nombre d'agences" }}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bankItem let-expanded="expanded">
      <tr>
        <td>
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="bankItem"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
        <td>{{ bankItem.code }}</td>
        <td>{{ bankItem.label }}</td>
        <td>{{ bankItem.agences.length }}</td>
        <td>
          <button
            (click)="edit(bankItem)"
            class="p-button-rounded p-button-success p-mr-2"
            icon="pi pi-pencil"
            pButton
            pRipple
          ></button>
          <button
            (click)="delete(bankItem)"
            class="p-button-rounded p-button-warning"
            icon="pi pi-trash"
            pButton
            pRipple
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-bankItem>
      <tr style="background-color: rgb(229 229 229 / 92%)">
        <td colspan="7">
          <div class="p-p-3">
            <div class="p-d-flex p-align-center">
              <h3>Liste des agences</h3>
              <button
                type="button"
                pButton
                class="p-button-success p-ml-2 p-button-rounded p-button-plain"
                [icon]="'pi pi-plus'"
                (click)="openAgenceForm(bankItem)"
              ></button>
            </div>
            <p-table [value]="bankItem.agences" dataKey="code">
              <ng-template pTemplate="header">
                <tr>
                  <ng-container *ngFor="let column of tableColumns">
                    <th
                      *ngIf="column.sortable"
                      [pSortableColumn]="column.field"
                    >
                      {{ column.title | translate }}
                      <p-sortIcon field="code"></p-sortIcon>
                    </th>
                    <th *ngIf="!column.sortable">
                      {{ column.title | translate }}
                    </th>
                  </ng-container>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-agence>
                <tr>
                  <td>{{ agence.code }}</td>
                  <td>{{ agence.label }}</td>
                  <td>
                    <button
                      (click)="editAgence(bankItem, agence)"
                      class="p-button-rounded p-button-success p-mr-2"
                      icon="pi pi-pencil"
                      pButton
                      pRipple
                    ></button>
                    <button
                      (click)="deleteAgence(agence)"
                      class="p-button-rounded p-button-warning"
                      icon="pi pi-trash"
                      pButton
                      pRipple
                    ></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">{{ 'labels.banqueEtAgence'|translate }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
