.container {
  display: grid;

  grid-template-rows: auto 50px;
  .actions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .group {
    margin: 10px 0px;
  }
  .progress-spinner {
    position: absolute;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
