<ng-container [ngSwitch]="currentStep$ | async">
  <app-create-situation-traitement
    *ngSwitchCase="'situation'"
    [startingForm]="situationFormGroup"
    (subformInitialized)="subformInitialized('situationForm', $event)"
    (changeStep)="changeStep('situation', 'forward')"
    [situation]="engagements"
  >
  </app-create-situation-traitement>
  <app-engagement-form
    *ngSwitchCase="'engagement'"
    [readOnly]="isBook"
    [startingForm]="engagementFormGroup"
    (subformInitialized)="subformInitialized('engagementForm', $event)"
    (changeStep)="changeStep('engagement', $event)"
    [category]="categorieProcedure"
    [dataEngagement]="engagements"
    [isCheck]="isCheck"
  ></app-engagement-form>
  <app-bon-engagement-form
    *ngSwitchCase="'bon'"
    [readOnly]="isBook"
    [startingForm]="bonEngagementFormGroup"
    (subformInitialized)="subformInitialized('bonEngagementForm', $event)"
    (changeStep)="changeStep('bon', $event)"
    [procedure]="currentProcedure"
    [dataEngagement]="engagements"
  ></app-bon-engagement-form>
  <app-perform-form
    *ngSwitchCase="'perform'"
    [procedure]="currentProcedure"
    [readOnly]="isBook"
    [startingForm]="performFormGroup"
    [dataEngagement]="engagements"
    [validation]="validation"
    [isCheck]="isCheck"
    (subformInitialized)="subformInitialized('performForm', $event)"
    (changeStep)="changeStep('perform', $event)"
    (submitForm)="submitForm()"
  ></app-perform-form>
  <app-facture-form
    *ngSwitchCase="'facture'"
    [readOnly]="isBook"
    [startingForm]="factureFormGroup"
    [dataEngagement]="engagements"
    [engagementForm]="engagementFormGroup"
    [isCheck]="isCheck"
    [procedure]="currentProcedure"
    (subformInitialized)="subformInitialized('factureForm', $event)"
    (changeStep)="changeStep('facture', $event)"
    [dataArticle]="dataArticle"
    (submitForm)="submitForm()"
  ></app-facture-form>
</ng-container>
