<div
  class="header-content p-d-flex p-justify-between p-align-center p-autocomplete-input-token"
>
  <div class="menu" (click)="toggleSideBar()">
    <i class="pi pi-align-justify"></i>
  </div>
  <div class="header-content">
    <!-- <div class="p-mx-5 p-my-auto">
      <i class="far fa-bell" style="font-size: 1.5rem" pBadge></i>
    </div> -->
    <div
      class="information-card p-d-flex"
      (click)="toggleDropdown()"
      #informationCard
    >
      <ng-container *ngIf="user">
        <p-avatar
          [label]="user.initials"
          [style]="{
            'border-radius': '50%',
            overflow: 'hidden',
            'margin-right': '5px',
            color: '#fff',
            'font-size': '1.2rem'
          }"
          shape="circle"
          size="large"
        >
        </p-avatar>
      </ng-container>

      <!--<ng-container *ngIf="user?.picture">
        <p-avatar
          [image]="user.picture"
          [style]="{'border-radius':'50%', 'overflow': 'hidden', 'margin-right': '5px'}"
          shape="circle"
          size="large">
        </p-avatar>
      </ng-container>-->

      <div class="p-d-flex p-flex-column">
        <p class="full-name">{{ user?.fullName }}</p>
        <p class="role">{{ user?.role?.label?.toUpperCase() }}</p>
      </div>

      <div class="dropdown-content" [ngClass]="{ open: dropdownOpened }">
        <div class="dropdown-menu">
          <div class="dropdown-item" routerLink="settings/profile">
            {{ "menus.profile" | translate }}
          </div>
          <div class="dropdown-item" (click)="changePassword()">
            {{ "menus.changePassword" | translate }}
          </div>
          <div class="dropdown-item" (click)="logout()">
            {{ "menus.logout" | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
