<p-card>
  <p-toolbar styleClass="p-mb-2">
    <ng-template pTemplate="left">
      <div class="quick_filter">
        <div class="p-field">
          <label>{{ "labels.filterCodeEx" | translate }}:</label>
          <p-dropdown
          [showClear]="true"
          [filter]="true"
          [filterBy]="'numero'"
          [autoDisplayFirst]="false"
          [options]="exercices"
          [placeholder]="''"
          optionLabel="code"
          optionValue="code"
          (onChange)="handleFilter($event)"
        >
        </p-dropdown>
        </div>
      </div>
    </ng-template>
  </p-toolbar>
  <p-table
  #dt
  [globalFilterFields]="globalColumnsBordereaux"
  [loading]="(loading$ | async) || false"
  [paginator]="true"
  [rowHover]="true"
  [rows]="10"
  [showCurrentPageReport]="true"
  [sortMode]="'single'"
  [value]="bons"
  [currentPageReportTemplate]="'tables.stats.pager' | translate"
  dataKey="id"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex p-ai-center p-jc-between">
      <h5 class="p-m-0">
        {{ "tables.titles.transmission" | translate }}
      </h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (keyup)="searchSelect($event)"
          [placeholder]="'labels.search' | translate"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <ng-container *ngFor="let column of tableColumnsBordereau">
        <th *ngIf="column.sortable" [pSortableColumn]="column.field">
          {{ column.title | translate }}
          <p-sortIcon field="numeroEng"></p-sortIcon>
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr (click)="fileInput110.click()" >
      <td class="actions">
        <input hidden type="checkbox" #fileInput110 (click)="detail(item)" (change)="selected($event)" >
      </td>
      <td *ngFor="let column of tableColumnsBordereau" class="nowrap">
        <span *ngIf="column.field === 'numeroBon'">
          {{ item["numero"] }}
        </span>
        <span *ngIf="column.field === 'numeroEng'">
          {{ item["numActeJuridique"]?.numero }}
        </span>
        <span *ngIf="column.field === 'matriculeGestionnaire'">
          {{ item["nomGestionnaire"] }}
        </span>
        <span *ngIf="column.field === 'imputation'">
          {{ item["numActeJuridique"]?.imputation }}
        </span>
        <span *ngIf="column.field === 'montantAE'">
          {{ item['numActeJuridique']?.montantAE }}
        </span>
        <span *ngIf="column.field === 'montantCP'">
          {{ item['montantCPChiffres'] }}
        </span>
        <span *ngIf="column.field === 'dateEng'">
          {{ item['dateEngagement'] }}
        </span>
        <span *ngIf="column.field === 'etat'">
          {{ item['etat'] | translate }}
        </span>
        <span *ngIf="column.field === 'objet'">
          {{ item['objet'] }}
        </span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="p-d-flex p-ai-center p-jc-between">
    </div>
  </ng-template>
</p-table>
</p-card>

<p-card>
  <p-table
        #dt1
        [globalFilterFields]="globalColumnsBordereaux"
        [loading]="(loading1$ | async) || false"
        [paginator]="true"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [sortMode]="'single'"
        [value]="bon_engagement"
        [currentPageReportTemplate]="'tables.stats.pager' | translate"
        dataKey="id"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">
              {{ "tables.titles.dossiers" | translate }}
            </h5>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <ng-container *ngFor="let column of tableColumnsBordereau">
              <th *ngIf="column.sortable" [pSortableColumn]="column.field">
                {{ column.title | translate }}
                <p-sortIcon field="numeroEng"></p-sortIcon>
              </th>
            </ng-container>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>

            <td *ngFor="let column of tableColumnsBordereau" class="nowrap">
              <span *ngIf="column.field === 'numeroBon'">
                {{ item["numero"] }}
              </span>
              <span *ngIf="column.field === 'numeroEng'">
                {{ item["numActeJuridique"]?.numero }}
              </span>
              <span *ngIf="column.field === 'matriculeGestionnaire'">
                {{ item["nomGestionnaire"] }}
              </span>
              <span *ngIf="column.field === 'imputation'">
                {{ item["numActeJuridique"]?.imputation }}
              </span>
              <span *ngIf="column.field === 'montantAE'">
                {{ item['numActeJuridique']?.montantAE }}
              </span>
              <span *ngIf="column.field === 'montantCP'">
                {{ item['montantCPChiffres'] }}
              </span>
              <span *ngIf="column.field === 'dateEng'">
                {{ item['dateEngagement'] }}
              </span>
              <span *ngIf="column.field === 'etat'">
                {{ item['etat'] | translate }}
              </span>
              <span *ngIf="column.field === 'objet'">
                {{ item['objet'] }}
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
          </div>
        </ng-template>
      </p-table>
</p-card>
<div class="footer">
  <button
    type="button"
    pButton
    pRipple
    class="p-button"
    icon="pi pi-angle-right"
    (click)="doChangeStep('forward')"
    [label]="'buttons.next' | translate"
    pButton
  ></button>
</div>
