.container {
  display: grid;
  height: 100%;
  grid-template-rows: auto 50px;

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .p-inputgroup {
    .p-field {
      margin: 0;
      width: 100%;
      input {
        width: 100%;
      }
    }
    .code {
      width: 41%;
    }
  }
}
