<div class="container">
  <div class="form" [formGroup]="form">
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-12">
        <label class="required">{{ "labels.label" | translate }}</label>
        <input
          type="text"
          class="form-control"
          pInputText
          formControlName="label"
          [placeholder]="'labels.label' | translate"
        />
      </div>
      <div class="p-field p-col-12 p-md-12">
        <label class="required">{{ "labels.description" | translate }}</label>
        <input
          type="text"
          class="form-control"
          pInputText
          formControlName="description"
          [placeholder]="'labels.description' | translate"
        />
      </div>
    </div>
  </div>

  <div class="footer">
    <button pButton class="p-mr-3 p-button-warning" (click)="close()">
      {{ "buttons.cancel" | translate }}
    </button>
    <button
      (click)="submit()"
      [disabled]="!form?.valid || busy"
      [label]="
        'buttons.' + (busy ? 'busy' : isUpdateForm ? 'update' : 'save')
          | translate
      "
      pButton
    ></button>
  </div>
</div>
