<div class="container">
  <div class="form" [formGroup]="factureForm">
    <div class="p-fluid p-grid">
     <!--  <div class="p-field p-col-6 p-md-6">
        <label>{{ "labels.dateFacture" | translate }}</label>
        <input
          type="date"
          formControlName="date"
          class="form-control"
          [placeholder]="''"
          pInputText
        />
      </div> -->
      <div class="p-field p-col-12 p-md-12">
        <label>{{ "labels.reference" | translate }}</label>
        <input
          class="form-control"
          formControlName="reference"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-12">
        <label>{{ "labels.objet" | translate }}</label>
        <textarea
          rows="3"
          cols="35"
          pInputTextarea
          class="form-control"
          formControlName="objet"
          [placeholder]="''"
        >
        </textarea>
      </div>
      <div  class="p-field p-col-12 p-md-12">
        <p-table
          #dt
          [paginator]="false"
          [rowHover]="false"
          [value]="getArticlesControls()"
          [showCurrentPageReport]="true"
          [currentPageReportTemplate]="'tables.stats.pager' | translate"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <h5 class="p-m-0">
                {{ "tables.titles.articles" | translate }}
              </h5>
              <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="right">
                  <button
                    (click)="handleAddArticle()"
                    [label]="'buttons.addArticle' | translate"
                    class="p-button-success p-mr-2"
                    icon="pi pi-plus"
                    pButton
                    pRipple
                  ></button>
                </ng-template>
              </p-toolbar>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 1%">N<sup>o</sup></th>
              <th style="width: 20%">Référence Mercuriale</th>
              <th style="width: 20%">Désignation</th>
              <th style="width: 10%">Qté</th>
              <th style="width: 10%">PU HT</th>
              <th style="width: 15%">Prix Total HT</th>
              <th style="width: 5%">Etat</th>
              <th style="width: 3%"></th>
            </tr>
          </ng-template>
          <ng-template
            formArrayName="articles"
            pTemplate="body"
            let-article
            let-rowIndex="rowIndex"
          >

            <tr [formGroupName]="rowIndex" >
              <td>
                {{ rowIndex + 1 }}
              </td>
              <td>
                <p-dropdown
                  [id]="'serie' + rowIndex"
                  placeholder="serie"
                  formControlName="serie"
                  [options]="articles"
                  [filter]="true"
                  [editable]="true"
                  optionLabel="code"
                  optionValue="serie"
                  (onChange)="onSerieChange($event, article, rowIndex)"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    article.get('serie')?.errors?.required &&
                    article.get('serie')?.touched
                  "
                >
                  Série obligatoire
                </div>
              </td>
              <td>
                <input
                  readonly
                  type="text"
                  pInputText
                  class="form-control noborder"
                  [id]="'designation' + rowIndex"
                  formControlName="designation"
                />
              </td>
              <td>
                <div>
                  <input
                    type="text"
                    pInputText
                    class="form-control"
                    [id]="'quantite' + rowIndex"
                    placeholder="type..."
                    formControlName="quantite"
                    (input)="onQteChange($event, article)"
                  />
                </div>
                <div
                  *ngIf="
                    article.get('quantite')?.errors?.required &&
                    article.get('quantite')?.touched
                  "
                >
                  Quantité obligatoire
                </div>
              </td>

              <td>
                <input
                  type="text"
                  pInputText
                  class="form-control"
                  [id]="'prix' + rowIndex"
                  formControlName="prix"
                  (input)="onPrixChange($event, article)"
                />
              </td>

              <td>
                <input
                  readonly
                  type="text"
                  pInputText
                  class="form-control noborder"
                  [id]="'prixTotalHT' + rowIndex"
                  formControlName="prixTotalHT"
                />
              </td>
              <td>
                <input
                  readonly
                  type="text"
                  pInputText
                  class="form-control noborder"
                  [id]="'etat' + rowIndex"
                  formControlName="etat"
                />
              </td>
              <td>
                <button
                  *ngIf="!readOnly"
                  (click)="remove(rowIndex, article)"
                  class="p-button-rounded p-button-warning"
                  icon="pi pi-minus"
                  pButton
                  pRipple
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="4">Montant Total HT</td>
              <td colspan="4">
                <input
                  readonly
                  type="text"
                  class="noborder form-control"
                  formControlName="montantTotalHT"
                  pInputText
                />
              </td>
            </tr>
            <tr>
              <td>Taux TVA</td>
              <td>
                <input
                  readonly
                  class="noborder form-control"
                  formControlName="tauxTVA"
                  pInputText
                />
              </td>
              <td>Montant TVA</td>
              <td colspan="2">
                <input
                  readonly
                  class="noborder form-control"
                  formControlName="montantTVA"
                  pInputText
                />
              </td>
              <td>Net à Percevoir</td>
              <td colspan="2">
                <input
                  readonly
                  class="noborder form-control"
                  formControlName="netAPercevoir"
                  pInputText
                />
              </td>
            </tr>
            <tr>
              <td>Taux IR</td>
              <td>
                <input
                  readonly
                  class="noborder form-control"
                  formControlName="tauxIR"
                  pInputText
                />
              </td>
              <td>Montant IR</td>
              <td colspan="2">
                <input
                  readonly
                  class="noborder form-control"
                  formControlName="montantIR"
                  pInputText
                />
              </td>
              <td>Montant TTC</td>
              <td colspan="2">
                <input
                  readonly
                  class="noborder form-control"
                  formControlName="montantTTC"
                  pInputText
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <div class="footer" *ngIf="!dataEngagement">
    <button
      (click)="doChangeStep('back')"
      [label]="'buttons.back' | translate"
      pButton
    ></button>

    <button
      *ngIf="!readOnly"
      (click)="submit()"
      [disabled]="!factureForm?.valid"
      [label]="'buttons.submit' | translate"
      pButton
    ></button>
    <button
      *ngIf="readOnly"
      type="button"
      pButton
      pRipple
      class="p-button"
      icon="pi pi-save"
      (click)="submit()"
      [disabled]="factureForm?.valid"
      [label]="'labels.book' | translate"
      pButton
    ></button>
  </div>
  <div class="footer" *ngIf="dataEngagement">
    <button
      (click)="doChangeStep('back')"
      [label]="'buttons.back' | translate"
      pButton
    ></button>
    <button pButton class="p-mr-3 p-button-warning" (click)="close()">
      {{ "buttons.cancel" | translate }}
    </button>
  </div>
</div>
