<div class="container">
  <div class="form" [formGroup]="form">
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-12">
        <label class="required">{{ "labels.firstName" | translate }}</label>
        <input
          type="text"
          class="form-control"
          pInputText
          formControlName="firstName"
          [placeholder]="''"
        />
      </div>

      <div class="p-field p-col-12 p-md-12">
        <label class="required">{{ "labels.lastName" | translate }}</label>
        <input
          type="text"
          class="form-control"
          pInputText
          formControlName="lastName"
          [placeholder]="''"
        />
      </div>

      <div class="p-field p-col-12 p-md-12">
        <label class="required">{{ "labels.username" | translate }}</label>
        <input
          type="text"
          class="form-control"
          pInputText
          formControlName="username"
          [placeholder]="''"
        />
      </div>

      <div class="p-field p-col-12 p-md-12">
        <label class="required">{{ "labels.email" | translate }}</label>
        <input
          type="email"
          class="form-control"
          pInputText
          formControlName="email"
          [placeholder]="''"
        />
      </div>

      <div class="p-field p-col-12 p-md-12">
        <ng-container>
          <label class="required"
            >{{ "labels.role" | translate }}
          </label>
          <p-dropdown
            [showClear]="true"
            [filter]="true"
            [filterBy]="'label'"
            [autoDisplayFirst]="false"
            [options]="data"
            [placeholder]="''"
            optionLabel="label"
            optionValue="id"
            formControlName="role"
          >
          </p-dropdown>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="footer">
    <button pButton class="p-mr-3 p-button-warning" (click)="close()">
      {{ "buttons.cancel" | translate }}
    </button>
    <button
      (click)="submit()"
      [disabled]="!form?.valid || busy"
      [label]="
        'buttons.' + (busy ? 'busy' : isUpdateForm ? 'update' : 'save')
          | translate
      "
      pButton
    ></button>
  </div>
</div>
