<div>
  <p-card>
    <p-toolbar styleClass="p-mb-2">
      <ng-template pTemplate="left">
        <div class="quick_filter">
          <div class="p-field">
            <label>{{ "labels.filterCodeEx" | translate }}:</label>
            <p-dropdown [showClear]="true" [filter]="true" [filterBy]="'numero'" [autoDisplayFirst]="false"
              [options]="exercices" [placeholder]="''" optionLabel="code" optionValue="code"
              (onChange)="handleFilter($event)">
            </p-dropdown>
          </div>
          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-5">
              <label class="required">{{ "labels.Periode_du" | translate }}
              </label>
              <input type="date" class="form-control" (change)="onChangeDate($event,'date1')" [placeholder]="''"
                pInputText />
            </div>
            <div class="p-field p-col-12 p-md-5">
              <label>{{ "labels.au" | translate }}</label>
              <input type="date" class="form-control" (change)="onChangeDate($event, 'date2')" [placeholder]="''"
                pInputText />
            </div>
            <button style="margin-top:6%" class="p-field p-col-12 p-md-2" type="button" pButton pRipple
              class="p-button-rounded p-button" icon="pi pi-times" (click)="annuler()"></button>
          </div>
        </div>
      </ng-template>
    </p-toolbar>
    <p-table #dt [globalFilterFields]="globalColumnsBordereaux" [loading]="(loading1$ | async) || false"
      [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [sortMode]="'single'"
      [value]="dossiersBordereaux" [currentPageReportTemplate]="'tables.stats.pager' | translate" dataKey="id"
      responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <h5 class="p-m-0">
            {{ "tables.titles.bon_controler" | translate }}
          </h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (keyup)="searchSelect($event)" [placeholder]="'labels.search' | translate" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <ng-container *ngFor="let column of tableColumnsBordereau">
            <th *ngIf="column.sortable" [pSortableColumn]="column.field">
              {{ column.title | translate }}
              <p-sortIcon field="numeroEng"></p-sortIcon>
            </th>
          </ng-container>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>

        <tr>
          <td *ngFor="let column of tableColumnsBordereau" class="nowrap">
            <span *ngIf="column.field === 'numeroBon'">
              {{ item["bon_engagement"]?.numero }}
            </span>
            <span *ngIf="column.field === 'numeroEng'">
              {{ item["bon_engagement"]?.numActeJuridique?.numero }}
            </span>
            <span *ngIf="column.field === 'numeroMandat'">
              {{ item["bon_engagement"]?.traitements[0]?.numeroMandat }}
            </span>
            <span *ngIf="column.field === 'matriculeGestionnaire'">
              {{ item["bon_engagement"]?.nomGestionnaire }}
            </span>
            <span *ngIf="column.field === 'imputation'">
              {{ item["bon_engagement"]?.numActeJuridique?.imputation }}
            </span>
            <span *ngIf="column.field === 'datePaiement'">
              {{ item['bon_engagement']?.paiements[0]?.datePaiement }}
            </span>
            <span *ngIf="column.field === 'etat'">
              {{ item['bon_engagement']?.etat | translate }}
            </span>
            <span *ngIf="column.field === 'objet'">
              {{ item['bon_engagement']?.objet }}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
        </div>
      </ng-template>
    </p-table>
  </p-card>
</div>
<div>
  <button pButton class="p-mr-3 p-button-warning" printSectionId="print-section" [useExistingCss]="true" ngxPrint>
    {{ "buttons.print" | translate }}
  </button>
</div>


<div hidden id="print-section">
  <div class="page">
    <div  >
      <p-card>
        <div class="grid-container-header">
          <div class="grid-fr">
            <strong>REPUBLIQUE DU CAMEROUN</strong> <br />
            <i>Paix-Travail-Patrie</i> <br />
            ********* <br />
            <strong>CHAMBRE D'AGRICULTURE, DES PECHES, DE <br />
              L'ELEVAGE ET DES FORETS DU CAMEROUN</strong>
          </div>
          <div class="grid-img">
            <img src="assets/img/logopdf.png" alt="logo pdf" />
          </div>
          <div class="grid-en">
            <strong>REPUBLIC OF CAMEROON</strong> <br />
            <em>Peace-Work-Fatherland</em> <br />
            ********* <br />
            <strong>CHAMBER OF AGRICULTURE, FISHERIES, <br />
              LIVESTOCK AND FOREST OF CAMEROON</strong>
          </div>
        </div>
        <h1>LISTING DES PAIEMENTS</h1>
      </p-card>
      <div>
        <p-table #dt [globalFilterFields]="globalColumnsBordereaux" [loading]="(loading1$ | async) || false"
      [paginator]="true" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [sortMode]="'single'"
      [value]="dossiersBordereaux" [currentPageReportTemplate]="'tables.stats.pager' | translate" dataKey="id"
      responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <ng-container *ngFor="let column of tableColumnsBordereau">
            <th *ngIf="column.sortable" [pSortableColumn]="column.field">
              {{ column.title | translate }}
              <p-sortIcon field="numeroEng"></p-sortIcon>
            </th>
          </ng-container>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>

        <tr>
          <td *ngFor="let column of tableColumnsBordereau" class="nowrap">
            <span *ngIf="column.field === 'numeroBon'">
              {{ item["bon_engagement"]?.numero }}
            </span>
            <span *ngIf="column.field === 'numeroEng'">
              {{ item["bon_engagement"]?.numActeJuridique?.numero }}
            </span>
            <span *ngIf="column.field === 'numeroMandat'">
              {{ item["bon_engagement"]?.traitements[0]?.numeroMandat }}
            </span>
            <span *ngIf="column.field === 'matriculeGestionnaire'">
              {{ item["bon_engagement"]?.nomGestionnaire }}
            </span>
            <span *ngIf="column.field === 'imputation'">
              {{ item["bon_engagement"]?.numActeJuridique?.imputation }}
            </span>
            <span *ngIf="column.field === 'datePaiement'">
              {{ item['bon_engagement']?.paiements[0]?.datePaiement }}
            </span>
            <span *ngIf="column.field === 'etat'">
              {{ item['bon_engagement']?.etat | translate }}
            </span>
            <span *ngIf="column.field === 'objet'">
              {{ item['bon_engagement']?.objet }}
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
      </div>
    </div>
  </div>


</div>
