<p-card>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button (click)="openForm()" [label]="'buttons.create' | translate" class="p-button-success p-mr-2"
                icon="pi pi-plus" pButton pRipple></button>
        </ng-template>
        <ng-template pTemplate="right"> </ng-template>
    </p-toolbar>
    <p-table #dt [globalFilterFields]="[
        'nomModel',
        'enteteModel',
        'chapeauModel',
        'contenuModel',
    ]" [loading]="(loading$ | async) || false" [paginator]="true" [rowHover]="true" [rows]="10" [sortMode]="'single'"
        [value]="data" dataKey="id" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">
                    {{ "tables.titles.modelVirement" | translate }}
                </h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="
                dt.filterGlobal(getTableGlobalSearchValue($event), 'contains')
            " [placeholder]="'labels.search' | translate" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <ng-container *ngFor="let column of tableColumns">
                    <th *ngIf="column.sortable" [pSortableColumn]="column.field">
                        {{ column.title | translate }}
                        <p-sortIcon field="code"></p-sortIcon>
                    </th>
                    <th *ngIf="!column.sortable">{{ column.title | translate }}</th>
                </ng-container>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item?.nomModel }}</td>
                <td>{{ item?.enteteModel.substring(1, 30)+'...' }}</td>
                <td>{{ item?.chapeauModel.substring(1, 30)+'...' }}</td>
                <td>{{ item?.contenuModel }}</td>
                <td>
                    <button (click)="edit(item)" class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                        pButton pRipple></button>
                    <button (click)="delete(item)" [disabled]="item?.status === 'active'"
                        class="p-button-rounded p-button-warning" icon="pi pi-trash" pButton pRipple></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>