<div class="form" [formGroup]="form">
  <p-checkbox
    [readonly]="true"
    *ngIf="engagement.montantAE <= engagement?.aeDisponible"
    formControlName="disponibiliteCredits"
    [binary]="true"
    label="{{ 'labels.disponibiliteCredits' | translate }}: Le montant AE  ({{
      engagement.montantAE
    }}) que vous voulez reserver est inférieur au montant  AE Disponible ({{ engagement?.aeDisponible }})"
  >
  </p-checkbox>
  <p-checkbox
    [readonly]="true"
    *ngIf="engagement.montantAE > engagement?.aeDisponible"
    formControlName="disponibiliteCredits"
    [binary]="true"
    label="{{ 'labels.disponibiliteCredits' | translate }}: Le montant AE  ({{
      engagement.montantAE
    }}) que vous voulez reserver est  supérieur au montant  AE Disponible ({{ engagement?.aeDisponible }})"
  >
  </p-checkbox>
  <p-checkbox
    [readonly]="true"
    *ngIf="type === 'command'"
    formControlName="respectNonMorcellement"
    [binary]="true"
    label="{{
      'labels.respectNonMorcellement' | translate
    }}: Dernière Commande: {{ (dernierCommande ? dernierCommande.dateSignature : 'RAS') +'. Prochaine date possible  '+(prochaineDate ? prochaineDate : 'RAS') + ' ( Il vous reste donc '+ nombreJoursRestantPourLeRespectMorcellement +' Jour(s)'+')'+ '.' }}"
  >
  </p-checkbox>

  <p-checkbox
    [readonly]="true"
    *ngIf="
      type === 'decision' &&
      engagement.netAPercevoir ===
        engagement?.montantBrut - engagement?.montantIRNC
    "
    formControlName="priseEnCompteTaxes"
    [binary]="true"
    label="{{
      'labels.priseEnCompteTaxes' | translate
    }}: Le montant net à percevoir ({{
      engagement.netAPercevoir
    }}) est égal au Montant Brut ({{
      engagement?.montantBrut
    }})  moins Montant IRNC ({{ engagement?.montantIRNC }})"
  >
  </p-checkbox>
  <p-checkbox
    [readonly]="true"
    *ngIf="
      type === 'decision' &&
      engagement.netAPercevoir !==
        engagement?.montantBrut - engagement?.montantIRNC
    "
    formControlName="priseEnCompteTaxes"
    [binary]="true"
    label="{{ 'labels.priseEnCompteTaxes' | translate }}: NetAPercevoir ({{
      engagement.netAPercevoir
    }}) est différent du Montant Brut ({{
      engagement?.montantBrut
    }})  moins Montant IRNC ({{ engagement?.montantIRNC }})"
  >
  </p-checkbox>

  <p-checkbox
    [readonly]="true"
    *ngIf="type === 'mission'"
    formControlName="respectQuotas"
    [binary]="true"
    label="{{
      'labels.respectQuotas' | translate
    }}: Cumul des Jours de Missions = {{ cumulJoursMissions }}"
  >
  </p-checkbox>
  <p-checkbox
    [readonly]="true"
    *ngIf="type === 'mission'"
    formControlName="respectNonChevauchement"
    [binary]="true"
    label="{{
      'labels.respectNonChevauchement' | translate
    }}: Interval de date = {{ statutChevauchement }}"
  >
  </p-checkbox>
  <div class="footer">
    <button
      type="button"
      pButton
      pRipple
      class="p-mr-3 p-button-danger"
      (click)="ref.close()"
      [label]="'buttons.close' | translate"
      pButton
    ></button>
    <button
      type="button"
      pButton
      pRipple
      class="p-button"
      icon="pi pi-save"
      [disabled]="isValid"
      [label]="'Demande de levée' | translate"
      pButton
    ></button>
    <button
      type="button"
      pButton
      pRipple
      class="p-button"
      icon="pi pi-check-square"
      [disabled]="!isValid"
      (click)="handleSubmit()"
      [label]="'labels.book' | translate"
      pButton
    ></button>
  </div>
</div>
