.container {
  display: grid;
  height: 100%;
  grid-template-rows: auto 50px;

  .p-field {
    &.flex-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
