<p-card>
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        (click)="openForm()"
        *appCheckPermissions="['contribuables.create']"
        [label]="'buttons.create' | translate"
        class="p-button-success p-mr-2"
        icon="pi pi-plus"
        pButton
        pRipple
      ></button>
    </ng-template>
    <ng-template pTemplate="right"> </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [globalFilterFields]="[
      'code',
      'raisonSociale',
      'secteurActivite',
      'regimeFiscal'
    ]"
    [loading]="(loading$ | async) || false"
    [paginator]="true"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [sortMode]="'single'"
    [value]="data"
    [currentPageReportTemplate]="'tables.stats.pager' | translate"
    dataKey="id"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">
          {{ "tables.titles.contribuables" | translate }}
        </h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="
              dt.filterGlobal(getTableGlobalSearchValue($event), 'contains')
            "
            [placeholder]="'labels.search' | translate"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <ng-container *ngFor="let column of tableColumns">
          <th *ngIf="column.sortable" [pSortableColumn]="column.field">
            {{ column.title | translate }}
            <p-sortIcon field="code"></p-sortIcon>
          </th>
          <th *ngIf="!column.sortable">{{ column.title | translate }}</th>
        </ng-container>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td *ngFor="let column of tableColumns">
          <span
            *ngIf="
              column.field !== 'banque' &&
                column.field !== 'agence' &&
                column.field !== 'regimeFiscal';
              else compositeField
            "
          >
            {{ item[column.field] }}
          </span>
          <ng-template #compositeField>
            <span>
              {{ item[column.field]?.code }}
            </span>
          </ng-template>
        </td>
        <td>
          <button
            (click)="edit(item)"
            *appCheckPermissions="['contribuables.update']"
            class="p-button-rounded p-button-success p-mr-2"
            icon="pi pi-pencil"
            title="editer"
            pButton
            pRipple
          ></button>
          <button
            (click)="delete(item)"
            *appCheckPermissions="['contribuables.delete']"
            [disabled]="item?.status === 'active'"
            class="p-button-rounded p-button-warning"
            icon="pi pi-trash"
            title="supprimer"
            pButton
            pRipple
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        <!--          In total there are {{products ? products.length : 0 }} products.-->
      </div>
    </ng-template>
  </p-table>
</p-card>
