<div class="container">
  <div class="form" [formGroup]="commandForm">
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <ng-container>
          <label class="required"
            >{{ "labels.niuContribuable" | translate }}
          </label>
          <p-dropdown
            [autoDisplayFirst]="false"
            [options]="contribuables"
            [placeholder]="''"
            optionLabel="code"
            optionValue="code"
            formControlName="niuContribuable"
            (onChange)="onContribuableChange($event)"
          >
          </p-dropdown>
        </ng-container>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.raisonSocialeContribuable" | translate }}</label>
        <input
          class="form-control"
          formControlName="raisonSociale"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label>{{ "labels.codeBanqueContribuable" | translate }}</label>
        <input
          class="form-control"
          formControlName="codeBanqueContribuable"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label>{{ "labels.codeAgenceContribuable" | translate }}</label>
        <input
          class="form-control"
          formControlName="codeAgenceContribuable"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label>{{ "labels.numeroCompteContribuable" | translate }}</label>
        <input
          class="form-control"
          formControlName="numeroCompteContribuable"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label>{{ "labels.cleCompteContribuable" | translate }}</label>
        <input
          class="form-control"
          formControlName="cleCompteContribuable"
          [placeholder]="''"
          pInputText
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <ng-container formGroupName="taxesApplicable">
          <label>{{ "labels.taxesApplicables" | translate }}</label>
          <p-dropdown
            [autoDisplayFirst]="false"
            [options]="taxes"
            [placeholder]="''"
            optionLabel="label"
            optionValue="id"
            formControlName="id"
            (onChange)="onTaxeChange($event)"
          >
          </p-dropdown>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-3">
        <label>{{ "TxIR" | translate }}</label>
        <input
          type="number"
          class="form-control"
          pInputText
          formControlName="tauxIR"
          [placeholder]="''"
        />
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label>{{ "labels.tauxTVA" | translate }}</label>
        <input
          type="number"
          class="form-control"
          pInputText
          formControlName="tauxTVA"
          [placeholder]="''"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.montantBrut" | translate }}</label>
        <input
          type="number"
          class="form-control"
          pInputText
          formControlName="montantBrut"
          [placeholder]="''"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.montantIRNC" | translate }}</label>
        <input
          type="number"
          class="form-control"
          pInputText
          formControlName="montantIRNC"
          [placeholder]="''"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.montantTVA" | translate }}</label>
        <input
          type="number"
          class="form-control"
          pInputText
          formControlName="montantTVA"
          [placeholder]="''"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label>{{ "labels.netAPercevoir" | translate }}</label>
        <input
          type="number"
          class="form-control"
          pInputText
          formControlName="netAPercevoir"
          [placeholder]="''"
        />
      </div>
    </div>
  </div>

  <div class="footer">
    <button
      type="button"
      pButton
      pRipple
      class="p-mr-3 p-button-warning"
      icon="pi pi-chevron-left"
      (click)="doChangeStep('back')"
      [label]="'buttons.back' | translate"
      pButton
    ></button>
    <button
      *ngIf="!readOnly"
      type="button"
      pButton
      pRipple
      class="p-button"
      icon="pi pi-save"
      (click)="submit()"
      [disabled]="!commandForm?.valid"
      [label]="'buttons.submit' | translate"
      pButton
    ></button>
    <button
      *ngIf="readOnly"
      type="button"
      pButton
      pRipple
      class="p-button"
      icon="pi pi-check-square"
      (click)="submit()"
      [disabled]="!commandForm?.valid && false"
      [label]="'labels.book' | translate"
      pButton
    ></button>
  </div>
</div>
