button {
  margin-top: 7%;
}

label {
  font-weight: bold;
}


table {
  border-collapse: collapse;
  width: 100%;
  .tr{
    td{
      height: 100px;
    }
  }
}

th,
td {
  font-size: 90%;
  border: 1px solid black;
  padding: 10px;
  color: black;
  // vertical-align: top;
}
.color{
  background-color: rgb(179, 174, 174);
}
.grid-container-header {
  display: grid;
  grid-template-rows: 100% 50%;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 2%;
  //margin-bottom: 1%;
}

.grid-fr {
  border: white 1px solid;
  height: auto;
  text-justify: auto;
  padding: 5%;
  font-size: 1em;
  text-align: center;
  //grid-area: area1;
}

.grid-en {
  text-align: center;
  border: white 1px solid;
  height: auto;
  padding: 5%;
  font-size: 1em;
  text-justify: auto;
}

.grid-img {
  text-align: center;
  border: white 1px solid;
  height: auto;
  padding: 5%;
  // grid-area: area2;
}
.title{
  border: 1px solid black;
  text-align: center;
 // padding: 1px;
}

.info-trans{
margin-top: 3%;
margin-bottom: 2%;
font-size: 22px;
b{
  font-weight: bold;
}
}

.date{
margin-left: 40%;
margin-top: 30px;
}

.visa{
  text-align: center;
  border: rgb(7, 7, 7) 1px solid;
  height: 150px;
  width: 300px;
  margin-left: 60%;
  margin-top: 10%;
}

.reception{
  text-align: center;
  //border: rgb(7, 7, 7) 1px solid;
  height: 150px;
  width: 400px;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.edit{
text-align: center;
h3{
  color: rgb(0, 132, 255);
}
}
