<div class="" [formGroup]="form">
  <ng-container *ngFor="let lang of languages">
    <ng-container *ngIf="['text'].includes(type) && currentLang === lang">
      <label [class.required]="required">{{
        " labels." + getFormControlNameForLang | translate
      }}</label>

      <input
        [formControlName]="getFormControlNameForLang"
        [placeholder]="
          'labels.' + (placeholder ?? getFormControlNameForLang) | translate
        "
        pInputText
      />
    </ng-container>

    <ng-container *ngIf="type === 'textarea' && currentLang === lang">
      <label [class.required]="required">{{
        "labels." + getFormControlNameForLang | translate
      }}</label>

      <textarea
        *ngIf="type === 'textarea' && currentLang === lang"
        [formControlName]="getFormControlNameForLang"
        [placeholder]="
          'labels.' + (placeholder ?? getFormControlNameForLang) | translate
        "
        pInputTextarea
        rows="5"
      ></textarea>
    </ng-container>

    <ng-container *ngIf="type === 'editor' && currentLang === lang">
      <label [class.required]="required">{{
        "labels." + getFormControlNameForLang | translate
      }}</label>
      <p-editor
        [formControlName]="getFormControlNameForLang"
        [style]="{ height: editorHeight + 'px' }"
      ></p-editor>
    </ng-container>
  </ng-container>

  <div class="">
    <span
      (click)="currentLang = lng"
      *ngFor="let lng of ['fr', 'en']"
      [class.active]="currentLang === lng"
      class="p-text-capitalize lang"
    >
      {{ lng }}
    </span>
  </div>
</div>
