<p-card>
  <p-toolbar styleClass="p-mb-2">
    <ng-template pTemplate="right">
      <button (click)="openForm()" [label]="'buttons.create' | translate" class="p-button-success p-mr-2"
        icon="pi pi-plus" pButton pRipple></button>
    </ng-template>
    <ng-template pTemplate="left">
      <div class="quick_filter">
        <div class="p-field">
          <label>{{ "labels.filterbyStatus" | translate }}:</label>
          <p-multiSelect [filter]="false" [options]="filters" [(ngModel)]="selectedFilters" autoDisplayFirst="false"
            optionValue="value" labelValue="label" defaultLabel="{{ 'labels.all' | translate }}"
            (onChange)="handleFilter($event)">
          </p-multiSelect>
        </div>
      </div>
    </ng-template>
  </p-toolbar>
  <p-tabView>
    <p-tabPanel header="Commande">
      <p-table #dt [globalFilterFields]="[
          'procedure',
          'sousProgramme',
          'action',
          'activity'
        ]" [loading]="(loading$ | async) || false" [paginator]="true" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [sortMode]="'single'" [value]="commandes"
        [currentPageReportTemplate]="'tables.stats.pager' | translate" dataKey="id" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">
              {{ "tables.titles.engagements" | translate }}
            </h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="
                  dt.filterGlobal(getTableGlobalSearchValue($event), 'contains')
                " [placeholder]="'labels.search' | translate" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <ng-container *ngFor="let column of tableColumns">
              <th *ngIf="column.sortable" [pSortableColumn]="column.field">
                {{ column.title | translate }}
                <p-sortIcon field="code"></p-sortIcon>
              </th>
              <th *ngIf="!column.sortable">{{ column.title | translate }}</th>
            </ng-container>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td *ngFor="let column of tableColumns" class="nowrap">
              <span *ngIf="column.field !== 'subProgram' && column.field !== 'etat'">
                {{
                item[column.field]?.RIB ??
                item[column.field]?.label ??
                item[column.field]
                }}
              </span>
              <span *ngIf="column.field === 'etat'">
                {{ item[column.field] | translate }}
              </span>
              <span *ngIf="column.field === 'matriculeGestionnaire'">
                <span>
                  {{ item['niuContribuable'] }} &nbsp;  {{ item['raisonSociale'] }}
                </span>
              </span>
              <span *ngIf="column.field === 'subProgram'" data-title="{{ item[column.field] }}">
                {{
                item[column.field].length > 20
                ? (item[column.field] | slice: 0:20) + ".."
                : item[column.field]
                }}
              </span>
            </td>
            <td class="actions_button">
              <button type="button" pButton pRipple class="p-button-rounded p-button" icon="pi pi-ellipsis-v" (click)="
                  currentItem = item;
                  $event.stopPropagation();
                  menu.toggle($event)
                "></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            <!--          In total there are {{products ? products.length : 0 }} products.-->
          </div>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Mission">
      <p-table #dt [globalFilterFields]="[
          'procedure',
          'sousProgramme',
          'action',
          'activity'
        ]" [loading]="(loading$ | async) || false" [paginator]="true" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [sortMode]="'single'" [value]="missions"
        [currentPageReportTemplate]="'tables.stats.pager' | translate" dataKey="id" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">
              {{ "tables.titles.engagements" | translate }}
            </h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="
                  dt.filterGlobal(getTableGlobalSearchValue($event), 'contains')
                " [placeholder]="'labels.search' | translate" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <ng-container *ngFor="let column of tableColumns">
              <th *ngIf="column.sortable" [pSortableColumn]="column.field">
                {{ column.title | translate }}
                <p-sortIcon field="code"></p-sortIcon>
              </th>
              <th *ngIf="!column.sortable">{{ column.title | translate }}</th>
            </ng-container>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td *ngFor="let column of tableColumns" class="nowrap">
              <span *ngIf="column.field !== 'subProgram' && column.field !== 'etat'">
                {{
                item[column.field]?.RIB ??
                item[column.field]?.label ??
                item[column.field]
                }}
              </span>
              <span *ngIf="column.field === 'etat'">
                {{ item[column.field] | translate }}
              </span>

              <span *ngIf="column.field === 'matriculeGestionnaire'">
                {{ item['matriculeBeneficiaire'] }} &nbsp;{{ item['nomBeneficiaire'] }}
              </span>
              <span *ngIf="column.field === 'subProgram'" data-title="{{ item[column.field] }}">
                {{
                item[column.field].length > 20
                ? (item[column.field] | slice: 0:20) + ".."
                : item[column.field]
                }}
              </span>
            </td>
            <td class="actions_button">
              <button type="button" pButton pRipple class="p-button-rounded p-button" icon="pi pi-ellipsis-v" (click)="
                  currentItem = item;
                  $event.stopPropagation();
                  menu.toggle($event)
                "></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            <!--          In total there are {{products ? products.length : 0 }} products.-->
          </div>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Decision">
      <p-table #dt [globalFilterFields]="[
          'procedure',
          'sousProgramme',
          'action',
          'activity'
        ]" [loading]="(loading$ | async) || false" [paginator]="true" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [sortMode]="'single'" [value]="decisions"
        [currentPageReportTemplate]="'tables.stats.pager' | translate" dataKey="id" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">
              {{ "tables.titles.engagements" | translate }}
            </h5>
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="
                  dt.filterGlobal(getTableGlobalSearchValue($event), 'contains')
                " [placeholder]="'labels.search' | translate" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <ng-container *ngFor="let column of tableColumns">
              <th *ngIf="column.sortable" [pSortableColumn]="column.field">
                {{ column.title | translate }}
                <p-sortIcon field="code"></p-sortIcon>
              </th>
              <th *ngIf="!column.sortable">{{ column.title | translate }}</th>
            </ng-container>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td *ngFor="let column of tableColumns" class="nowrap">
              <span *ngIf="column.field !== 'subProgram' && column.field !== 'etat'">
                {{
                item[column.field]?.RIB ??
                item[column.field]?.label ??
                item[column.field]
                }}
              </span>
              <span *ngIf="column.field === 'etat'">
                {{ item[column.field] | translate }}
              </span>

              <span *ngIf="column.field === 'matriculeGestionnaire'">
                <span>
                  {{ item['matriculeBeneficiaire'] }} &nbsp;{{ item['nomBeneficiaire'] }}
                </span>
                <span>
                  {{ item['codeUnitAdminBenef'] }}
                </span>
              </span>
              <span *ngIf="column.field === 'subProgram'" data-title="{{ item[column.field] }}">
                {{
                item[column.field].length > 20
                ? (item[column.field] | slice: 0:20) + ".."
                : item[column.field]
                }}
              </span>
            </td>
            <td class="actions_button">
              <button type="button" pButton pRipple class="p-button-rounded p-button" icon="pi pi-ellipsis-h" (click)="
                  currentItem = item;
                  $event.stopPropagation();
                  menu.toggle($event)
                "></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
            <!--          In total there are {{products ? products.length : 0 }} products.-->
          </div>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
  <p-menu appendTo="body" #menu [popup]="true" [model]="menus"></p-menu>
</p-card>
